<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>废气统计报表</title>
		<script type="text/javascript" src="../../common/commonCss.js"></script>
		<link rel="stylesheet" href="../../scripts/ztree/metroStyle/metroStyle.css" type="text/css">
		<style>
			html, body, .layui-card{
				height: 100%;
			}
			body{overflow: hidden;}
			.well{overflow:auto;}
			.layui-form-label{width:35px;}
			/* 表格样式 */
			.layui-table tr th, .layui-table tr td{
				min-width: 100px;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div id="webPage" class="layui-fluid" v-cloak>
			<div class="layui-row layui-col-space10">
				<div class="layui-col-xs3">
					<div class="layui-card">
						<div class="layui-card-header">污染源信息</div>
						<div class="layui-card-body">
							<div class="well">
								<ul id="pollutionList" class="ztree" style="margin-top:0; width:100%;"></ul>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-col-xs9">
					<div class="layui-card">
						<div class="layui-card-body">
							<div class="layui-tab  layui-tab-brief" lay-filter="reportType">
								<ul class="layui-tab-title">
									<li class="layui-this">日报表</li>
									<li>月报表</li>
									<li>季报表</li>
									<li>年报表</li>
								</ul>
								<div class="layui-tab-content">
									<!-- 日报表-start -->
									<div class="layui-tab-item layui-show">
										<form class="layui-form" lay-filter="search-form">
											<div class="layui-form-item" style="margin:0;">
												<div class="layui-inline">【{{ PSName }} => {{ OutPutName }}】</div>
												<div class="layui-inline">
													<label class="layui-form-label">时间<span style="color:red;">*</span></label>
													<div class="layui-input-inline">
														<input type="text" id="monitorTime1" class="layui-input dailyTime" placeholder="请选择监测日期" readonly="readonly" lay-verify="required" />
													</div>
												</div>
												<div class="layui-inline">
													<div class="layui-input-inline">
														<button class="layui-btn layui-btn-sm" lay-submit lay-filter="toSearch">查询</button>
														<!-- <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary" onclick="toReset()">重置</button> -->
													</div>
												</div>
											</div>
										</form>
										<!-- <table id="dataList" lay-filter="dataList" class="layui-table"></table> -->
										<table class="layui-table">
											<thead>
												<tr>
													<th rowspan="2">时间</th>
													<th colspan="4">烟尘</th>
													<th colspan="4">二氧化硫</th>
													<th colspan="4">氮氧化物</th>
													<th rowspan="2">流量(m³)</th>
													<!-- <th rowspan="2">含氧量(%)</th>
													<th rowspan="2">温度(℃)</th>
													<th rowspan="2">湿度(%)</th> -->
												</tr>
												<tr>
													<th>浓度(mg/m³)</th>
													<th>排放量(kg)</th>
													<th>折算浓度(mg/m³)</th>
													<th>折算排放量(kg)</th>
													<th>浓度(mg/m³)</th>
													<th>排放量(kg)</th>
													<th>折算浓度(mg/m³)</th>
													<th>折算排放量(kg)</th>
													<th>浓度(mg/m³)</th>
													<th>排放量(kg)</th>
													<th>折算浓度(mg/m³)</th>
													<th>折算排放量(kg)</th>
												</tr>
											</thead>
											<tbody>
												<tr v-for="(vo, index) in dataInfo">
													<td>{{ vo.mt?gettingTimeYYYMMddhhmmss(vo.mt):'-' }}</td>
													<td>{{ vo.yanchen?vo.yanchen:'-' }}</td>
													<td>{{ vo.yanchenll?vo.yanchenll:'-' }}</td>
													<td>{{ vo.yanchenzs?vo.yanchenzs:'-' }}</td>
													<td>{{ vo.yanchenllzs?vo.yanchenllzs:'-' }}</td>
													<td>{{ vo.so2?vo.so2:'-' }}</td>
													<td>{{ vo.so2ll?vo.so2ll:'-' }}</td>
													<td>{{ vo.so2zs?vo.so2zs:'-' }}</td>
													<td>{{ vo.so2llzs?vo.so2llzs:'-' }}</td>
													<td>{{ vo.no2?vo.no2:'-' }}</td>
													<td>{{ vo.no2ll?vo.no2ll:'-' }}</td>
													<td>{{ vo.no2zs?vo.no2zs:'-' }}</td>
													<td>{{ vo.no2llzs?vo.no2llzs:'-' }}</td>
													<td>{{ vo.pfl }}</td>
												</tr>
												<tr>
													<td>平均值</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td>最大值</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td>最小值</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td>日排放总量</td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</div>
									<!-- 日报表-end -->
									<!-- 月报表-start -->
									<div class="layui-tab-item">
										<form class="layui-form" lay-filter="search-form">
											<div class="layui-form-item" style="margin:0;">
												<div class="layui-inline">【{{ PSName }} => {{ OutPutName }}】</div>
												<div class="layui-inline">
													<label class="layui-form-label">时间<span style="color:red;">*</span></label>
													<div class="layui-input-inline">
														<input type="text" id="monitorTime2" class="layui-input" placeholder="请选择监测日期" readonly="readonly" lay-verify="required" />
													</div>
												</div>
												<div class="layui-inline">
													<div class="layui-input-inline">
														<button class="layui-btn layui-btn-sm" lay-submit lay-filter="toSearch">查询</button>
														<!-- <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary" onclick="toReset()">重置</button> -->
													</div>
												</div>
											</div>
										</form>
										<table id="dataList" lay-filter="dataList" class="layui-table"></table>
									</div>
									<!-- 月报表-end -->
									<!-- 季报表-start -->
									<div class="layui-tab-item">
										<form class="layui-form" lay-filter="search-form">
											<div class="layui-form-item" style="margin:0;">
												<div class="layui-inline">【{{ PSName }} => {{ OutPutName }}】</div>
												<div class="layui-inline">
													<label class="layui-form-label">时间<span style="color:red;">*</span></label>
													<div class="layui-input-inline">
														<input type="text" id="monitorTime3" class="layui-input" placeholder="请选择监测日期" readonly="readonly" lay-verify="required" />
													</div>
												</div>
												<div class="layui-inline">
													<div class="layui-input-inline">
														<button class="layui-btn layui-btn-sm" lay-submit lay-filter="toSearch">查询</button>
														<!-- <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary" onclick="toReset()">重置</button> -->
													</div>
												</div>
											</div>
										</form>
										<table id="dataList" lay-filter="dataList" class="layui-table"></table>
									</div>
									<!-- 季报表-end -->
									<!-- 年报表-start -->
									<div class="layui-tab-item">
										<form class="layui-form" lay-filter="search-form">
											<div class="layui-form-item" style="margin:0;">
												<div class="layui-inline">【{{ PSName }} => {{ OutPutName }}】</div>
												<div class="layui-inline">
													<label class="layui-form-label">时间<span style="color:red;">*</span></label>
													<div class="layui-input-inline">
														<input type="text" id="monitorTime4" class="layui-input" placeholder="请选择监测日期" readonly="readonly" lay-verify="required" />
													</div>
												</div>
												<div class="layui-inline">
													<div class="layui-input-inline">
														<button class="layui-btn layui-btn-sm" lay-submit lay-filter="toSearch">查询</button>
														<!-- <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary" onclick="toReset()">重置</button> -->
													</div>
												</div>
											</div>
										</form>
										<table id="dataList" lay-filter="dataList" class="layui-table"></table>
									</div>
									<!-- 年报表-end -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../common/commonUrl.js"></script>
	<script type="text/javascript" src="../../common/commonJs.js"></script>
	<script type="text/javascript" src="js/ajaxurl.js"></script>
	<script type="text/javascript" src="../../scripts/ztree/jquery.ztree.core.min.js"></script>
	<script type="text/javascript" src="../../scripts/ztree/jquery.ztree.excheck.min.js"></script>
	<script type="text/javascript">
		var layer, table, form;
		var pollutionList, dataList, tableHeight;
        $(function(){
			$(".layui-col-xs3").height($("body").height()-30);
			$(".layui-col-xs9").height($("body").height()-30);
			$(".well").height($(".layui-col-xs3").height()-103);
			tableHeight = $(".layui-col-xs9").height()-131;
			window.onresize = function(){
				$(".layui-col-xs3").height($("body").height()-30);
				$(".layui-col-xs9").height($("body").height()-30);
				$(".well").height($(".layui-col-xs3").height()-103);
				tableHeight = $(".layui-col-xs9").height()-131;
				vm.renderDataList();
			}
            layui.use(['element', 'table', 'form', 'layer', 'laydate'], function(){
				var element = layui.element;
				table = layui.table,
				form = layui.form,
				layer = layui.layer;
				
				layui.laydate.render({
					elem:'#monitorTime1',
					value:getOneWeek().currentTime,
					trigger:'click',
                    done:function(value, date, endDate){
						console.log(value);
						vm.monitorTime = value;
                    }
				})
				
				element.on("tab(reportType)", function(data){
					switch(data.index){
						// 日报表
						case 0:
							vm.reportType = "daily";
							layui.laydate.render({
								elem:'#monitorTime1',
								value:getOneWeek().currentTime,
								trigger:'click',
								done:function(value, date, endDate){
									console.log(value);
									vm.monitorTime = value;
								}
							})
							break;
						// 月报表
						case 1:
							vm.reportType = "monthly";
							layui.laydate.render({
								elem:'#monitorTime2',
								type:"month",
								value:getOneWeek().currentTime.substring(0,7),
								trigger:'click',
								done:function(value, date, endDate){
									console.log(value);
									vm.monitorTime = value;
								}
							})
							break;
						// 季报表
						case 2:
							vm.reportType = "quarter";
							layui.laydate.render({
								elem:'#monitorTime3',
								type:"year",
								value:getOneWeek().currentTime.substring(0,4),
								trigger:'click',
								done:function(value, date, endDate){
									console.log(value);
									vm.monitorTime = value;
								}
							})
							break;
						// 年报表
						case 3:
							vm.reportType = "yearly";
							layui.laydate.render({
								elem:'#monitorTime4',
								type:"year",
								value:getOneWeek().currentTime.substring(0,4),
								trigger:'click',
								done:function(value, date, endDate){
									console.log(value);
									vm.monitorTime = value;
								}
							})
							break;
					}
					vm.getDataList();
				})
                
				vm.initTree();
				
				// 保存监听
				form.on('submit(toSearch)', function(){
					vm.renderDataList();
					return false;
				})
            })
		});

		var vm = new Vue({
			el:"#webPage",
			data:{
				PSCode:"",		// 污染源编码
				PSName:"",
				OutputCode:"",		// 排放口编码
				OutPutName:"",
				reportType:"daily",	// 报表类型
				monitorTime:getOneWeek().currentTime,		// 查询时间
				dataInfo:[],
			},
			methods:{
				// 污染源&排放口列表
				initTree:function(){
					$.ajax({
						type:"get",
						url:URL_pollution_company_list,
						dataType:"json",
						success:function(ret){
							if(ret.code == 0){
								var treeNodes = ret.data;
								var setting = {
									check: {
										enable: false
									},
									data: {
										simpleData: {
											enable: true,
											idKey: 'id',
											pIdKey: 'parentId'
										},
										key: {
											name: 'name',
											title: 'name'
										}
									},
									callback: {
										onClick: vm.treeOnClick
									}
								};
								pollutionList = $.fn.zTree.init($('#pollutionList'), setting, treeNodes);
								vm.PSCode = treeNodes[0].id;
								vm.PSName = treeNodes[0].name;
								if(treeNodes[0].children && treeNodes[0].children.length){
									vm.OutputCode = treeNodes[0].children[0].id;
									vm.OutPutName = treeNodes[0].children[0].name;
								}else{
									vm.OutputCode = "";
									vm.OutPutName = "暂无";
								}
								vm.getDataList();
							}else{
								layer.msg(ret.msg);
							}
						},
						error:function(){
							layer.msg("网络访问出错，未能获取到信息！");
						}
					})
				},

				treeOnClick:function(event, treeId, treeNode){
					console.log(treeNode);
					if(!treeNode.isParent){
						vm.PSCode = treeNode.parentId;
						vm.OutputCode = treeNode.id;
						vm.PSName = treeNode.getParentNode().name;
						vm.OutPutName = treeNode.name;
						vm.renderDataList();
					}
				},
		
				// 数据信息列表
				getDataList:function(){
					var index = layer.load(2,{shade:0.6});
					switch(vm.reportType){
						case "daily":
							var url = URL_waste_gas_report_daily;
							break;
						case "monthly":
							var url = URL_waste_gas_report_daily;
							break;
						case "quarter":
							var url = URL_waste_gas_report_daily;
							break;
						case "yearly":
							var url = URL_waste_gas_report_daily;
							break;
					}
					dataList = table.render({
						elem: '#dataList',
						url: url,
						page: false,
						where:{
							page:1,
							limit:999,
							PSCode:vm.PSCode,
							OutputCode:vm.OutputCode,
							MonitorTime:vm.monitorTime
						},
						height:tableHeight,
						toolbar: false,
						defaultToolbar: false,
						cols: [[
							{title: '时间', width:175, align: 'center', rowspan:2, templet:function(d){
								if(d.mt){
									return gettingTimeYYYMMddhhmmss(d.mt);
								}else{
									return "-";
								}
							}},
							{title: '烟尘', align: 'center', colspan:4},
							{title: '二氧化硫', align: 'center', colspan:4},
							{title: '氮氧化物', align: 'center', colspan:4},
							{title: '流量(m3)', width:100, align: 'center', rowspan:2, templet:function(d){
								if(d.pfl){
									return d.pfl;
								}else{
									return "-";
								}
							}},
							// {title: '氧含量(%)', width:100, align: 'center', rowspan:2, templet:function(d){
							// 	if(d.yanchen){
							// 		return d.yanchen;
							// 	}else{
							// 		return "-";
							// 	}
							// }},
							// {title: '温度(℃)', width:100, align: 'center', rowspan:2, templet:function(d){
							// 	if(d.yanchen){
							// 		return d.yanchen;
							// 	}else{
							// 		return "-";
							// 	}
							// }},
							// {title: '湿度(%)', width:100, align: 'center', rowspan:2, templet:function(d){
							// 	if(d.yanchen){
							// 		return d.yanchen;
							// 	}else{
							// 		return "-";
							// 	}
							// }}
						],[
							{title: '浓度(mg/m3)', width:120, align: 'center', templet:function(d){
								if(d.yanchen){
									return d.yanchen;
								}else{
									return "-";
								}
							}},
							{title: '排放量(kg)', width:100, align: 'center', templet:function(d){
								if(d.yanchenll){
									return d.yanchenll;
								}else{
									return "-";
								}
							}},
							{title: '折算浓度(mg/m3)', width:150, align: 'center', templet:function(d){
								if(d.yanchenzs){
									return d.yanchenzs;
								}else{
									return "-";
								}
							}},
							{title: '折算排放量(kg)', width:130, align: 'center', templet:function(d){
								if(d.yanchenllzs){
									return d.yanchenllzs;
								}else{
									return "-";
								}
							}},
							{title: '浓度(mg/m3)', width:120, align: 'center', templet:function(d){
								if(d.so2){
									return d.so2;
								}else{
									return "-";
								}
							}},
							{title: '排放量(kg)', width:100, align: 'center', templet:function(d){
								if(d.so2ll){
									return d.so2ll;
								}else{
									return "-";
								}
							}},
							{title: '折算浓度(mg/m3)', width:150, align: 'center', templet:function(d){
								if(d.so2zs){
									return d.so2zs;
								}else{
									return "-";
								}
							}},
							{title: '折算排放量(kg)', width:130, align: 'center', templet:function(d){
								if(d.so2llzs){
									return d.so2llzs;
								}else{
									return "-";
								}
							}},
							{title: '浓度(mg/m3)', width:120, align: 'center', templet:function(d){
								if(d.no2){
									return d.no2;
								}else{
									return "-";
								}
							}},
							{title: '排放量(kg)', width:100, align: 'center', templet:function(d){
								if(d.no2ll){
									return d.no2ll;
								}else{
									return "-";
								}
							}},
							{title: '折算浓度(mg/m3)', width:150, align: 'center', templet:function(d){
								if(d.no2zs){
									return d.no2zs;
								}else{
									return "-";
								}
							}},
							{title: '折算排放量(kg)', width:130, align: 'center', templet:function(d){
								if(d.no2llzs){
									return d.no2llzs;
								}else{
									return "-";
								}
							}}
						]],
						done:function(ret){
							layer.close(index);
						}
					})
				},

				// 搜索
				renderDataList:function(){
					var index = layer.load(2,{shade:0.6});
					switch(vm.reportType){
						case "daily":
							var url = URL_waste_gas_report_daily;
							break;
						case "monthly":
							var url = URL_waste_gas_report_daily;
							break;
						case "quarter":
							var url = URL_waste_gas_report_daily;
							break;
						case "yearly":
							var url = URL_waste_gas_report_daily;
							break;
					}
					dataList.reload({
						elem: '#dataList',
						height:tableHeight,
						url:url,
						page: false,
						where:{
							page:1,
							limit:999,
							PSCode:vm.PSCode,
							OutputCode:vm.OutputCode,
							MonitorTime:vm.monitorTime
						},
						done:function(ret){
							layer.close(index);
						},
						page: {curr: 1}
					});
				},
			}
		})

		// 获取以当前时间为截止时间的一个星期的时间段
		function getOneWeek(){
			var currentTime = new Date().getTime();
			var previousTime = currentTime - 24*60*60*1000*6;
			var weekTime = {
				"previousTime":gettingTime(previousTime).split(" ")[0],
				"currentTime":gettingTime(currentTime).split(" ")[0]
			}
			return weekTime;
		}
	</script>
</html>