<!-- <link href="../../layuiadmin/layui/css/layui.css" rel="stylesheet" type="text/css"> -->
<style>
    .rightBox {
        position: relative;
        width: 560px;
        height: 255px;
        margin: 0 auto;
        text-align: center;
        background: url('../../images/tools/rightPopup-bg.png');
        background-size: auto auto;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .top_title {
        position: relative;
        background: url(../../images/tools/location.png) #007BD9;
        background-size: 16px auto;
        background-repeat: no-repeat;
        background-position: 9px 8px;
    }
    .top_title>img.close{
        position: absolute;
        right: 9px;
        top: 7px;
        cursor: pointer;
    }

    .top_title_2 {
        background: url(../../images/tools/title_bg.png);
        background-size: auto auto;
        background-repeat: no-repeat;
        padding: 7px;
        color: #3677fb;
        background-position: 7px bottom;
    }


    .rightBox .grid-demo-left {
        height: 156px;
    }

    .rightBox .grid-demo-right {
        height: 25px;
        line-height: 25px;
        padding: 6px;
    }
    .aqi-info{
    	width: 100%;
    	height: 100%;
        border-radius: 5px;
    }
    .aqi-info .data{
    	width: 100%;
    	height: 50%;
    	/*background: green;*/
    }
    .aqi-info .data .name{
    	float: left;
        width: 30%;
        height: 100%;
        padding-top: 9px;
        /*background: yellow;*/
        box-sizing: border-box;
        padding-left: 18px;
    }
    .aqi-info .data .value{
    	float: left;
    	width: 70%;
    	height: 100%;
        overflow: hidden;
    	font-size: 36px;
        padding-top: 10px;
        text-align: center;
    }
    .layui-card > .layui-tab-brief > .layui-tab-title li{
        padding: 0px;
        margin: 0px;
    }
    .layui-input, .layui-textarea{
        width: 105%;
    }


    /* 用户信息 */
   .user-info-head {
       width: 110px;
       height: 110px;
       line-height: 110px;
       position: relative;
       display: inline-block;
       border: 2px solid #eee;
       border-radius: 50%;
       overflow: hidden;
       cursor: pointer;
       margin: 0 auto;
   }

   .user-info-head:hover:after {
       content: '\e681';
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       color: #fff;
       background-color: rgba(0, 0, 0, 0.3);
       font-size: 28px;
       padding-top: 2px;
       font-style: normal;
       font-family: layui-icon;
       -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;
   }

   .user-info-head img {
       width: 110px;
       height: 110px;
   }

   .user-info-list-item {
       position: relative;
       padding-bottom: 8px;
   }

   .user-info-list-item > .layui-icon {
       position: absolute;
   }

   .user-info-list-item > p {
       padding-left: 30px;
   }

   .layui-line-dash {
       border-bottom: 1px dashed #ccc;
       margin: 15px 0;
   }

   /* 基本信息 */
   #userInfoForm .layui-form-item {
       margin-bottom: 25px;
   }

   /* 账号绑定 */
   .user-bd-list-item {
       padding: 14px 60px 14px 10px;
       border-bottom: 1px solid #e8e8e8;
       position: relative;
   }

   .user-bd-list-item .user-bd-list-lable {
       color: #333;
       margin-bottom: 4px;
   }

   .user-bd-list-item .user-bd-list-oper {
       position: absolute;
       top: 50%;
       right: 10px;
       margin-top: -8px;
       cursor: pointer;
   }

   .user-bd-list-item .user-bd-list-img {
       width: 48px;
       height: 48px;
       line-height: 48px;
       position: absolute;
       top: 50%;
       left: 10px;
       margin-top: -24px;
   }

   .user-bd-list-item .user-bd-list-img + .user-bd-list-content {
       margin-left: 68px;
   }

   .right_info .layui-icon-circle-dot{
      padding-left: 7px;
      font-size: 12px;
   }
</style>
<div class="layui-row layui-col-space1">
    <div class="layui-col-xs12 top_title" style="font-size: 18px;
                                        font-weight: bold;
                                        padding: 7px 10px;
                                        padding-left: 33px;
                                        line-height: 22px;
                                        color: white;">
        {{d.data.coName?d.data.coName:''}}
        <img ew-event="closeDialog" class="close fnClosePoputRight" src="../../images/tools/close.png" alt="">
    </div>
</div>

<div id="companyInfoBox"></div>

<script id="companyInfoDemo" type="text/html">
  <div class="layui-row layui-col-space1" style="padding: 10px 0px;font-size: 15px;font-weight: bold;">
      <div class="layui-col-xs12 top_title_2">
          企业基本信息
      </div>
  </div>
  <div class="layui-row layui-col-space5 right_info">
      <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-text">
        <div class="user-info-list-item">
            <i class="layui-icon layui-icon-circle-dot"></i>
            <p>企业名称：{{d.coName?d.coName:''}}</p>
        </div>
      </div>
      <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-text">
        <div class="user-info-list-item">
            <i class="layui-icon layui-icon-circle-dot"></i>
            <p>企业编码：{{d.coCode?d.coCode:''}}</p>
        </div>
      </div>
      <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-text">
        <div class="user-info-list-item">
            <i class="layui-icon layui-icon-circle-dot"></i>
            <p>占地总面积：{{d.coArea?d.coArea:''}}</p>
        </div>
      </div>
      <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-text">
        <div class="user-info-list-item">
            <i class="layui-icon layui-icon-circle-dot"></i>
            <p>投产日期：{{d.coWorkdate?d.coWorkdate:''}}</p>
        </div>
      </div>
      <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-text">
        <div class="user-info-list-item">
            <i class="layui-icon layui-icon-circle-dot"></i>
            <p>中心经度：{{d.coLongitudeBaidu?d.coLongitudeBaidu:''}}</p>
        </div>
      </div>
      <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-text">
        <div class="user-info-list-item">
            <i class="layui-icon layui-icon-circle-dot"></i>
            <p>中心纬度：{{d.coLatitudeBaidu?d.coLatitudeBaidu:''}}</p>
        </div>
      </div>
  </div>

  <div class="layui-row layui-col-space1" style="padding: 10px 0px;font-size: 15px;font-weight: bold;">
      <div class="layui-col-xs12 top_title_2">
          环保部门信息
      </div>
  </div>
  <div class="layui-row layui-col-space5 right_info">
      <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-text">
        <div class="user-info-list-item">
            <i class="layui-icon layui-icon-circle-dot"></i>
            <p>环保部门名称：{{d.coEpDepart?d.coEpDepart:''}}</p>
        </div>
      </div>
      <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-text">
        <div class="user-info-list-item">
            <i class="layui-icon layui-icon-circle-dot"></i>
            <p>负责人：{{d.coEpPerson?d.coEpPerson:''}}</p>
        </div>
      </div>
      <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-text">
        <div class="user-info-list-item">
            <i class="layui-icon layui-icon-circle-dot"></i>
            <p>联系电话：{{d.coEpPhone?d.coEpPhone:''}}</p>
        </div>
      </div>
      <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-text">
        <div class="user-info-list-item">
            <i class="layui-icon layui-icon-circle-dot"></i>
            <p>环保部门人数：{{d.coEpNums?d.coEpNums:''}}</p>
        </div>
      </div>
  </div>

  <div class="layui-row layui-col-space1" style="padding: 10px 0px;font-size: 15px;font-weight: bold;">
      <div class="layui-col-xs12 top_title_2">
          工商登记信息
      </div>
  </div>
  <div class="layui-row layui-col-space5 right_info">
      <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-text">
        <div class="user-info-list-item">
            <i class="layui-icon layui-icon-circle-dot"></i>
            <p>统一社会信用代码：{{d.coBuSocietycode?d.coBuSocietycode:''}}</p>
        </div>
      </div>
      <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-text">
        <div class="user-info-list-item">
            <i class="layui-icon layui-icon-circle-dot"></i>
            <p>法定代表人：{{d.coBuPerson?d.coBuPerson:''}}</p>
        </div>
      </div>
      <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-text">
        <div class="user-info-list-item">
            <i class="layui-icon layui-icon-circle-dot"></i>
            <p>开户银行：{{d.coBuBank?d.coBuBank:''}}</p>
        </div>
      </div>
      <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-text">
        <div class="user-info-list-item">
            <i class="layui-icon layui-icon-circle-dot"></i>
            <p>银行账号：{{d.coBuAccount?d.coBuAccount:''}}</p>
        </div>
      </div>
      <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-text">
        <div class="user-info-list-item">
            <i class="layui-icon layui-icon-circle-dot"></i>
            <p>注册地址：{{d.coBuAddress?d.coBuAddress:''}}</p>
        </div>
      </div>
  </div>

  <div class="layui-row layui-col-space1" style="padding: 10px 0px;font-size: 15px;font-weight: bold;">
      <div class="layui-col-xs12 top_title_2">
          企业联系方式
      </div>
  </div>
  <div class="layui-row layui-col-space5 right_info">
      <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-text">
        <div class="user-info-list-item">
            <i class="layui-icon layui-icon-circle-dot"></i>
            <p>办公电话：{{d.coTexphone?d.coTexphone:''}}</p>
        </div>
      </div>
      <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-text">
        <div class="user-info-list-item">
            <i class="layui-icon layui-icon-circle-dot"></i>
            <p>传真：{{d.conSend?d.conSend:''}}</p>
        </div>
      </div>
      <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-text">
        <div class="user-info-list-item">
            <i class="layui-icon layui-icon-circle-dot"></i>
            <p>移动电话：{{d.coMobilephone?d.coMobilephone:''}}</p>
        </div>
      </div>
      <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-text">
        <div class="user-info-list-item">
            <i class="layui-icon layui-icon-circle-dot"></i>
            <p>电子邮件：{{d.coEmail?d.coEmail:''}}</p>
        </div>
      </div>
      <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-text">
        <div class="user-info-list-item">
            <i class="layui-icon layui-icon-circle-dot"></i>
            <p>邮政编码：{{d.conPostcode?d.conPostcode:''}}</p>
        </div>
      </div>
      <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-text">
        <div class="user-info-list-item">
            <i class="layui-icon layui-icon-circle-dot"></i>
            <p>企业网址：{{d.conWebsite?d.conWebsite:''}}</p>
        </div>
      </div>
      <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-text">
        <div class="user-info-list-item">
            <i class="layui-icon layui-icon-circle-dot"></i>
            <p>通讯地址：{{d.coConaddress?d.coConaddress:''}}</p>
        </div>
      </div>
  </div>
</script>

<script>
    layui.use(['layer', 'admin', 'laytpl'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var admin = layui.admin;
        var laytpl = layui.laytpl;

        //初使化数据
        var data=vm.curMarker.data;
        console.log(data,1001)
        var getTpl = companyInfoDemo.innerHTML
        ,view = document.getElementById('companyInfoBox');
        laytpl(getTpl).render(data, function(html){
          view.innerHTML = html;
        });
    });
</script>