<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>播放页面</title>
</head>
<body>
<script src="https://cdn.bootcdn.net/ajax/libs/flv.js/1.5.0/flv.min.js"></script>
<video style="height: 480px;width: 640px;" id="videoElement" muted controls></video>
<script type="text/javascript" src="../../common/commonUrl.js"></script>
<script type="text/javascript" src="../../scripts/jquery/jquery-1.11.3.min.js"></script>
<script src="../../common/tool.js"></script>
<script>
    initWebsocketServer();
    function initWebsocketServer() {
        //验证浏览器是否支持WebSocket协议
        if (!window.WebSocket) {
            //alert("这个浏览器不支持websocket!");
            return;
        }
        //获取参数
        var vId = $.getUrlParam('videoId');
        var wsAddress = wsUrl + 'websocket/videoStream/' +vId;
        var online_ws = new WebSocket(wsAddress);
        //监听消息
        online_ws.onmessage = function(event) {
            console.info(event.data);
        };
        // 关闭WebSocket
        online_ws.onclose = function(event) {
            //WebSocket Status:: Socket Closed
        };
        // 打开WebSocket
        online_ws.onopen = function(event) {
            //WebSocket Status:: Socket Open
            online_ws.send('上线啦');
            var flvPlayer = null;
            if (flvjs.isSupported()) {
                var videoElement = document.getElementById('videoElement');
                flvPlayer = flvjs.createPlayer({
                    type: 'flv',
                    // 8080 对应Nginx监听的端口
                    // rtmpLive 对应Nginx的路径
                    url: rtmpUrl + vId
                });
                flvPlayer.attachMediaElement(videoElement);
                flvPlayer.load();
                flvPlayer.play();
            }
        };
        online_ws.onerror = function(event) {
            //WebSocket Status:: Error was reported
        };
    }


</script>
</body>
</html>