<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="../../common/commonCss.js"></script>
	<title>高架视频</title>
	<link rel="stylesheet" href="css/demo.css" type="text/css">
</head>
<body>
<video width="1120" height="540" controls="controls" src="http://47.93.112.245:19888/flv?port=11935&app=live&stream=111.30.12.110$1"></video>

<hr>
<div id="divPlugin" class="plugin"></div>
</body>
<script type="text/javascript" src="../../common/commonUrl.js"></script>
<script type="text/javascript" src="../../common/commonJs.js"></script>
<script type="text/javascript" src="js/ajaxurl.js"></script>
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="js/webVideoCtrl.js"></script>
<script type="text/javascript" src="js/demo.js"></script>
</html>