<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="../../common/commonCss.js"></script>
	<link rel="stylesheet" href="../../scripts/ztree/bootstrapStyle/bootstrapStyle.css" type="text/css">
	<title>数据权限</title>
</head>
<body>
<div class="layui-fluid">
		<div class="layui-row layui-col-space15">
		<div class="layui-col-xs3">
		<div class="layui-card">
		<div class="layui-card-header">数据接口</div>
		<div class="layui-card-body">
			<div class="well">
			<ul id="zTreeList" class="ztree" style="margin-top:0; width:100%;height: 485px;overflow: auto;"></ul>
			</div>
		</div>
		</div>
		</div>
		<div class="layui-col-xs9">
			<div class="layui-card">
		<div class="layui-card-header">数据权限</div>
		<div class="layui-card-body">
			<form class="layui-form">
			<div class="layui-form-item">
				<div class="layui-input-inline">
					<input type="text" id="search_roleName" placeholder="请输入角色名称" class="layui-input">
				</div>
				<button type="button" class="layui-btn" onclick="search()">查询</button>
			</div>
			</form>
			<script type="text/html" id="toolbar">
				<button type="button" class="layui-btn layui-btn-primary" onclick="add()">新增</button>
				<button type="button" class="layui-btn layui-btn-primary" onclick="del()">删除</button>
				<button type="button" class="layui-btn layui-btn-primary" onclick="batchAdd()">批量添加</button>
				<button type="button" class="layui-btn layui-btn-primary" onclick="delDuplicate()">删除重复</button>
			</script>
			<table id="dataGrid" lay-filter="dataGrid"></table>
			<script type="text/html" id="barOpt">
				<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
			</script>
			</div>
			</div>
		</div>
	</div>
</div>
	<script type="text/javascript" src="../../common/commonUrl.js"></script>
	<script type="text/javascript" src="../../common/commonJs.js"></script>
	<script type="text/javascript" src="js/ajaxurl.js"></script>
	<script type="text/javascript" src="../../scripts/ztree/jquery.ztree.core.min.js"></script>
	<script type="text/javascript" src="../../scripts/ztree/jquery.ztree.excheck.min.js"></script>
	<script type="text/javascript" src="js/inteRole_list.js"></script>
</body>
</html>