<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="text/javascript" src="../../common/commonCss.js"></script>
		<title>登录记录</title>
	</head>
	<body>
		<div class="layui-fluid">
			<div class="layui-card">
				<div class="layui-card-header">登录记录列表</div>
				<div class="layui-card-body">
					<form class="layui-form">
						<div class="layui-form-item">
							<div class="layui-inline">
							<label class="layui-form-label" for="">开始时间</label>
							<div class="layui-input-inline">
								<input type="text" class="layui-input" id="search_kssj">
							</div>
							</div>
							<div class="layui-inline">
							<label class="layui-form-label" for="">结束时间</label>
							<div class="layui-input-inline">
								<input type="text" class="layui-input" id="search_jssj">
							</div>
							</div>
							<div class="layui-inline">
							<label class="layui-form-label" for="">操作用户</label>
							<div class="layui-input-inline">
								<input type="text" class="layui-input" id="search_logUser">
							</div>
							</div>
							<div class="layui-inline">
							<label class="layui-form-label" for="">操作内容</label>
							<div class="layui-input-inline">
								<input type="text" class="layui-input" id="search_logDesc">
							</div>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label" for=""></label>
							<div class="layui-input-inline">
								<button type="button" class="layui-btn" onclick="search()">查询</button>
								<button type="reset" class="layui-btn layui-btn-primary">重置</button>
							</div>
						</div>
					</form>
					<table id="dataGrid" lay-filter="dataGrid"></table>
					<!-- <div class="layui-tab">
						<ul class="layui-tab-title">
							<li class="layui-this">登录记录</li>
						</ul>
						<div class="layui-tab-content">
							<div class="layui-tab-item layui-show">
								<table id="dataGrid" lay-filter="dataGrid"></table>
							</div>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../common/commonUrl.js"></script>
	<script type="text/javascript" src="../../common/commonJs.js"></script>
	<script type="text/javascript" src="js/ajaxurl.js"></script>
	<script type="text/javascript" src="js/log_list.js"></script>
</html>