<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="../../common/commonCss.js"></script>
	<title>在线用户管理</title>
</head>
<body>
<div class="layui-fluid">
		<div class="layui-card">
		<div class="layui-card-header">数据列表</div>
		<div class="layui-card-body">
			<form class="layui-form">
			</form>
			<script type="text/html" id="toolbar">
				<button type="button" class="layui-btn layui-btn-primary" onclick="del()">踢出</button>
			</script>
			<table id="dataGrid" lay-filter="dataGrid"></table>
			<script type="text/html" id="barOpt">

			</script>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../../common/commonUrl.js"></script>
	<script type="text/javascript" src="../../common/commonJs.js"></script>
	<script type="text/javascript" src="js/ajaxurl.js"></script>
	<script type="text/javascript" src="js/onlineUser_list.js"></script>
</body>
</html>