<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="../../common/commonCss.js"></script>
	<title>岗位管理</title>
</head>
<div class="layui-fluid">
		<div class="layui-card">
		<div class="layui-card-header">岗位编辑</div>
		<div class="layui-card-body">
			<form id="form1" class="layui-form" lay-filter="form1">
			<input type="hidden" id="positionId" name="positionId" value="">
			<input type="hidden" id="departId" name="departId" value="">
			<div class="layui-form-item">
				<label class="layui-form-label" for="">岗位名称<font color='red'>*</font></label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" id="positionName" name="positionName" lay-verify="required">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label" for="">上级岗位</label>
				<div class="layui-input-block">
					<select class="layui-input" id="parentId" name="parentId">
						<option value="">无</option>
					</select>
					<p style="color: #FF5722">上级岗位为空，表示该岗位为部门负责人岗位。<br>每个部门只能有一个部门负责人岗位</p>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label" for="">排序</label>
				<div class="layui-input-block">
					<input type="number" class="layui-input" id="sortNum" name="sortNum" placeholder="请输入数字" lay-verify="number">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label" for="">备注</label>
				<div class="layui-input-block">
					<textarea class="layui-textarea" id="remark" name="remark" ></textarea>
				</div>
			</div>
			<div class="layui-form-item" style="display: none">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="btnSave" id="btnSave">立即提交</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
	</div>
</div>
</div>
	<script type="text/javascript" src="../../common/commonUrl.js"></script>
	<script type="text/javascript" src="../../common/commonJs.js"></script>
	<script type="text/javascript" src="js/ajaxurl.js"></script>
	<script type="text/javascript">
		var departId = $.getUrlParam('departId');
		var positionId = $.getUrlParam('positionId');
		var form;
		$(function() {
			$('#departId').val(departId);
			layui.use(['form'], function() {
				form = layui.form;
				if(positionId!=null&&positionId!=''){
					$('#positionId').val(positionId);
					initDataInfo();
				}else{
					initParamInfo(departId, '');
				}
				
				// 监听提交
				form.on('submit(btnSave)', function(data) {
					//layer.msg(JSON.stringify(data.field));
					save();
					return false;
				});
			});
		});

		function checkForm(){
			$('#btnSave').click();
		}

		function initDataInfo(){
			$.ajax({
				url : URL_position_detailInfo,
				data : {
					positionId: positionId
				},
				type : "post",
				dataType : "json",
				beforeSend: function() {
					// loading show
					layer.load(2, {shade: 0.6});
				},
				success : function(res) {
					//alert(JSON.stringify(res));
					if(res.code==0){
						// 初始赋值
						form.val('form1', {
							'departId': res.data.departId,
							'positionName': res.data.positionName,
							'sortNum': res.data.sortNum,
							'remark': res.data.remark
						});
						departId = res.data.departId;
						var prival = res.data.parentId;
						initParamInfo(departId, prival);
					}else{
						
					}
				},
				complete: function () {
					layer.closeAll('loading');
				}
			});
		}
		function save(){
			$.ajax({
				url : URL_position_save,
				data : $('#form1').serialize(),
				type : 'post',
				dataType : 'json',
				beforeSend: function() {
					// loading show
					parent.layer.load(2, {shade: 0.6});
				},
				success : function(res) {
					if(res.code==0){
						parent.layer.msg(res.msg);
						parent.reloadPosition();
					}else{
						parent.layer.msg(res.msg);
					}
				},
				complete: function () {
					parent.layer.closeAll('loading');
				}
			});
		}

		function initParamInfo(departId, prival){
			$.ajax({
				url : URL_position_initParamInfo,
				data : {
					departId : departId
				},
				type : 'post',
				dataType : 'json',
				beforeSend : function() {
					// loading show
				},
				success : function(res) {
					//alert(JSON.stringify(res));
					if (res.code==0) {
						var list = res.data.list;
						$('#parentId').empty();
						var ss = '<option value="">无</option>';
						for ( var i = 0; i < list.length; i++) {
							ss += '<option value="'+list[i].position_id+'">'+list[i].position_name+'</option>';
						}
						$('#parentId').html(ss);
						if(prival!=''){
							$('#parentId').val(prival);
						}
						form.render('select');
					} else {
						layer.msg(res.msg);
					}
				}
			});
		}
	</script>
</body>
</html>
