@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1596076287597'); /* IE9 */
  src: url('iconfont.eot?t=1596076287597#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKYAAsAAAAABnAAAAJMAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgpYaAE2AiQDDAsIAAQgBYRtBzYbrgXIDiUFQcGAACtAZQRPa/zm7e7JN5Ms4JGkmmgkQoMEsZEC3TP59n9NM2RhYkdHakBsD9r8A3z/MiRhqsyELdhNyHVCTej6xL3TPwookPmAclp7n48JmGCge2CbrEwS8YaxC1zCeQK9Fk1ourmxdwadCmtaID74rg2dubCisFwr1DVri/im0qYv6Rtfw+/HP6fRSVJl1tx779eLsPTTz7WWl+7FU58QIcDNFTL2gUI8r00/1CIYq0WvurW9tFaENFes0RGKdWVt/+GRBFGzqvvBNsokfnLFqWYNSu/6rAxqFAximqUfH+tIJdsPeNXSl94PBPfNvflT2O8vVCerf6ulu1Mw+mapdlDryp/SHyh5CdCV807LIugqebtlCZoQXHzeqJsDc//bngJ+3D1uhMGuXKBfJWglekt+jaRnV9FlliUXVeyKTW/WjHQmoJD7dGD5R9XH6ydOnw2tiRRJYwFZa50szH1U+pyj1rpErz2bm/uMkVpE6cGuT4Aw7AvJoO/Ihv2QhfmLyqR/1IajBb3ux8iefTbD716VZDMV0blFv5AmwrFxd1R7Qu5lZMusLGRfkMz9GOqKVsxtUkJyjgX5lWswCxQyjXEDXEZRlGIm04AKrHjM2Yyqiro3KYU0hm43SMTGSBFy3EK+glRC+INZd+nzJ4jrUsQmW+pqgheIlPOHRzqF1oPcVCe96u7lmtwVl4ExAQlSKoY2wCgSiaRQVj8qQAqYwhuRzMxQ7X6ir1pZXxt/QBFrwjouR4ocRfXRsxO3tZheJwAAAA==') format('woff2'),
  url('iconfont.woff?t=1596076287597') format('woff'),
  url('iconfont.ttf?t=1596076287597') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1596076287597#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shang:before {
  content: "\e623";
}

.icon-down:before {
  content: "\e600";
}

