<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<script type="text/javascript" src="../../common/commonCss.js"></script>
		<script type="text/javascript" src="../../common/commonUrl.js"></script>
		<script type="text/javascript" src="../../common/commonJs.js"></script>
        <style>
            .icon {
              width: 1em;
              height: 1em;
              vertical-align: -0.15em;
              fill: currentColor;
              overflow: hidden;
            }
        </style>
		<title>统计</title>
	</head>
	<body>
		<div id="app" v-cloak>
			<div class="layui-fluid">
			    <div class="layui-card">
			        <div class="layui-card-body">
			            <!-- 表格工具栏 -->
			            <form class="layui-form toolbar">
			                <div class="layui-form-item">
                                <div class="layui-inline" style="width:100px;">
                                    <div class="layui-input-inline" style="width:100%;">
                                        <select name="dateType" lay-filter="dateType">
                                            <option value="hour">时</option>
                                            <option value="day">日</option>
                                            <option value="month">月</option>
                                            <option value="year">年</option>
                                            <option value="diy">自定义</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline" v-show="dateType=='diy'" style="width:100px;">
                                    <div class="layui-input-inline" style="width:100%;">
                                        <select name="diyType" lay-filter="diyType">
                                            <option value="hour">时</option>
                                            <option value="day">日</option>
                                        </select>
                                    </div>
                                </div>
			                    <div class="layui-inline">
			                        <label class="layui-form-label">时间:</label>
			                        <div class="layui-input-inline" style="width:263px;">
			                            <input v-show="dateType=='hour'" name="time_hour" class="layui-input icon-date" placeholder="选择时间"/>
                                        <input v-show="dateType=='day'" name="time_day" class="layui-input icon-date" placeholder="选择时间"/>
                                        <input v-show="dateType=='month'" name="time_month" class="layui-input icon-date" placeholder="选择时间"/>
                                        <input v-show="dateType=='year'" name="time_year" class="layui-input icon-date" placeholder="选择时间"/>
                                        <input v-show="dateType=='diy' && diyType=='hour'" name="diy_hour" class="layui-input icon-date" placeholder="选择时间"/>
                                        <input v-show="dateType=='diy' && diyType=='day'" name="diy_day" class="layui-input icon-date" placeholder="选择时间"/>
			                        </div>
			                    </div>
								<div class="layui-inline">
			                        <div class="layui-input-inline">
			                            <span id="dialogBtn13" class="layui-btn layui-btn-primary icon-btn">
		                                    &nbsp;站点 <i class="layui-icon layui-icon-drop"></i>
		                                </span>
			                        </div>
			                    </div>
			                    <div class="layui-inline">&emsp;
			                        <a class="layui-btn icon-btn" lay-filter="loginRecordTbSearch" lay-submit>
			                            <i class="layui-icon">&#xe615;</i>搜索
			                        </a>
                                    <!-- <a class="layui-btn icon-btn layui-btn-normal" lay-filter="loginRecordExportBtn" lay-submit>
                                        <i class="layui-icon">&#xe67d;</i>导出
                                    </a> -->
			                    </div>
			                </div>
			            </form>

			            <!-- 数据表格 -->
			            <table id="loginRecordTable" lay-filter="loginRecordTable"></table>
			        </div>
			    </div>
			</div>
		</div>

        <script type="text/html" id="aqiTpl">
            <div style="background-color: {{d.aqi_more.bgcolor}};">
                {{ d.aqi }}
            </div>
        </script>
        <script type="text/html" id="pm10Tpl">
            <div style="background-color: {{d.pm10_more.bgcolor}};">
                {{ d.pm10 }}
            </div>
        </script>
        <script type="text/html" id="pm25Tpl">
            <div style="background-color: {{d.pm25_more.bgcolor}};">
                {{ d.pm25 }}
            </div>
        </script>
        <script type="text/html" id="so2Tpl">
            <div style="background-color: {{d.so2_more.bgcolor}};">
                {{ d.so2 }}
            </div>
        </script>
        <script type="text/html" id="no2Tpl">
            <div style="background-color: {{d.no2_more.bgcolor}};">
                {{ d.no2 }}
            </div>
        </script>
        <script type="text/html" id="coTpl">
            <div style="background-color: {{d.co_more.bgcolor}};">
                {{ d.co }}
            </div>
        </script>
        <script type="text/html" id="o3Tpl">
            <div style="background-color: {{d.o3_more.bgcolor}};">
                {{ d.o3 }}
            </div>
        </script>
	</body>
</html>
<script>
    if('vue'){
    	var vm = new Vue({
	      el:"#app",
	      data:{
			list:[],
			index_list:[],

            time_hour:'',
            time_day:'',
            time_month:'',
            time_year:'',
            time_diy:'',
            dateType:'hour',
            diyType:'hour',
            time:'',
	      },
          methods:{
            fnIndexMore:function(type, value){
                var result={
                    bgcolor:'',
                };
                switch (type) {
                    case 'aqi':
                        if(value<=50){
                            result.bgcolor='rgb(0,228,0)';
                            result.level='优';
                        }else if(50<value&&value<=100){
                            result.bgcolor='rgb(255,255,0)';
                            result.level='良';
                        }else if(100<value&&value<=150){
                            result.bgcolor='rgb(255,126,0)';
                            result.level='轻度';
                        }else if(150<value&&value<=200){
                            result.bgcolor='rgb(255,0,0)';
                            result.level='中度';
                        }else if(200<value&&value<=300){
                            result.bgcolor='rgb(153,0,76)';
                            result.level='重度';
                        }else if(300<value){
                            result.bgcolor='rgb(126,0,35)';
                            result.level='严重';
                        }
                        break;
                    case 'so2':
                        if(value<=150){
                            result.bgcolor='rgb(0,228,0)';
                            result.level='优';
                        }else if(150<value&&value<=500){
                            result.bgcolor='rgb(255,255,0)';
                            result.level='良';
                        }else if(500<value&&value<=650){
                            result.bgcolor='rgb(255,126,0)';
                            result.level='轻度';
                        }else if(650<value&&value<=800){
                            result.bgcolor='rgb(255,0,0)';
                            result.level='中度';
                        }else{
                            result.bgcolor='rgb(0,228,0)';
                            result.level='重度';
                        }
                        break;
                    case 'no2':
                        if(value<=100){
                            result.bgcolor='rgb(0,228,0)';
                            result.level='优';
                        }else if(100<value&&value<=200){
                            result.bgcolor='rgb(255,255,0)';
                            result.level='良';
                        }else if(200<value&&value<=700){
                            result.bgcolor='rgb(255,126,0)';
                            result.level='轻度';
                        }else if(700<value&&value<=1200){
                            result.bgcolor='rgb(255,0,0)';
                            result.level='中度';
                        }else if(1200<value&&value<=2340){
                            result.bgcolor='rgb(153,0,76)';
                            result.level='重度';
                        }else if(2340<value){
                            result.bgcolor='rgb(126,0,35)';
                            result.level='严重';
                        }
                        break;
                    case 'pm25':
                        if(value<=35){
                            result.bgcolor='rgb(0,228,0)';
                            result.level='优';
                        }else if(35<value&&value<=75){
                            result.bgcolor='rgb(255,255,0)';
                            result.level='良';
                        }else if(75<value&&value<=115){
                            result.bgcolor='rgb(255,126,0)';
                            result.level='轻度';
                        }else if(115<value&&value<=150){
                            result.bgcolor='rgb(255,0,0)';
                            result.level='中度';
                        }else if(150<value&&value<=250){
                            result.bgcolor='rgb(153,0,76)';
                            result.level='重度';
                        }else if(250<value){
                            result.bgcolor='rgb(126,0,35)';
                            result.level='严重';
                        }
                        break;
                    case 'pm10':
                        if(value<=50){
                            result.bgcolor='rgb(0,228,0)';
                            result.level='优';
                        }else if(50<value&&value<=150){
                            result.bgcolor='rgb(255,255,0)';
                            result.level='良';
                        }else if(150<value&&value<=250){
                            result.bgcolor='rgb(255,126,0)';
                            result.level='轻度';
                        }else if(250<value&&value<=350){
                            result.bgcolor='rgb(255,0,0)';
                            result.level='中度';
                        }else if(350<value&&value<=420){
                            result.bgcolor='rgb(153,0,76)';
                            result.level='重度';
                        }else if(420<value){
                            result.bgcolor='rgb(126,0,35)';
                            result.level='严重';
                        }
                        break;
                    case 'co':
                        if(value<=5){
                            result.bgcolor='rgb(0,228,0)';
                            result.level='优';
                        }else if(5<value&&value<=10){
                            result.bgcolor='rgb(255,255,0)';
                            result.level='良';
                        }else if(10<value&&value<=35){
                            result.bgcolor='rgb(255,126,0)';
                            result.level='轻度';
                        }else if(35<value&&value<=60){
                            result.bgcolor='rgb(255,0,0)';
                            result.level='中度';
                        }else if(60<value&&value<=90){
                            result.bgcolor='rgb(153,0,76)';
                            result.level='重度';
                        }else if(90<value){
                            result.bgcolor='rgb(126,0,35)';
                            result.level='严重';
                        }
                        break;
                    case 'o3':
                        if(value<=160){
                            result.bgcolor='rgb(0,228,0)';
                            result.level='优';
                        }else if(160<value&&value<=200){
                            result.bgcolor='rgb(255,255,0)';
                            result.level='良';
                        }else if(200<value&&value<=300){
                            result.bgcolor='rgb(255,126,0)';
                            result.level='轻度';
                        }else if(300<value&&value<=400){
                            result.bgcolor='rgb(255,0,0)';
                            result.level='中度';
                        }else if(400<value&&value<=800){
                            result.bgcolor='rgb(153,0,76)';
                            result.level='重度';
                        }else if(800<value){
                            result.bgcolor='rgb(126,0,35)';
                            result.level='严重';
                        }
                        break;
                    case 'o38h':
                        if(value<=160){
                            result.bgcolor='rgb(0,228,0)';
                            result.level='优';
                        }else if(160<value&&value<=200){
                            result.bgcolor='rgb(255,255,0)';
                            result.level='良';
                        }else if(200<value&&value<=300){
                            result.bgcolor='rgb(255,126,0)';
                            result.level='轻度';
                        }else if(300<value&&value<=400){
                            result.bgcolor='rgb(255,0,0)';
                            result.level='中度';
                        }else if(400<value&&value<=800){
                            result.bgcolor='rgb(153,0,76)';
                            result.level='重度';
                        }else if(800<value){
                            result.bgcolor='rgb(126,0,35)';
                            result.level='严重';
                        }
                        break;

                }
                return result;
            },
          }
	    });
    }
	var insTb=null;
    layui.use(['layer', 'form', 'admin',  'table', 'util', 'dropdown', 'laydate'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;
        var laydate = layui.laydate;

        var curDate = new Date();
        var preDay = new Date(curDate.getTime() - 24*60*60*1000); //前一天
        var preHour = new Date(curDate.getTime() - 1*60*60*1000); //前一天

        vm.time_hour=dateFormat(preHour, 'yyyy-MM-dd HH');
        vm.time_day=dateFormat(preDay, 'yyyy-MM-dd');
        vm.time_month=dateFormat(new Date(), 'yyyy-MM');
        vm.time_year=dateFormat(new Date(), 'yyyy');
        vm.diy_hour=dateFormat(new Date(), 'yyyy-MM-dd HH') + ' ~ ' + dateFormat(new Date(), 'yyyy-MM-dd HH');
        vm.diy_day=dateFormat(new Date(), 'yyyy-MM-dd') + ' ~ ' + dateFormat(new Date(), 'yyyy-MM-dd');
        laydate.render({
            elem: 'input[name="time_hour"]',
            type: 'datetime',
            value: dateFormat(preHour, 'yyyy-MM-dd HH'),
            format: 'yyyy-MM-dd HH',
            done: function(value, date, endDate){
                vm.time_hour=value;
            }
        });
        laydate.render({
            elem: 'input[name="time_day"]',
            type: 'date',
            value: preDay,
            done: function(value, date, endDate){
                vm.time_day=value;
            }
        });
        laydate.render({
            elem: 'input[name="time_month"]',
            type: 'month',
            value: new Date(),
            done: function(value, date, endDate){
                vm.time_month=value;
            }
        });
        laydate.render({
            elem: 'input[name="time_year"]',
            type: 'year',
            value: new Date(),
            done: function(value, date, endDate){
                vm.time_year=value;
            }
        });

        laydate.render({
            elem: 'input[name="diy_hour"]',
            type: 'datetime',
            value: dateFormat(new Date(), 'yyyy-MM-dd HH') + ' ~ ' + dateFormat(new Date(), 'yyyy-MM-dd HH'),
            range: '~',
            format: 'yyyy-MM-dd HH',
            done: function(value, date, endDate){
                vm.diy_hour=value;
            }
        });
        laydate.render({
            elem: 'input[name="diy_day"]',
            type: 'date',
            value: dateFormat(new Date(), 'yyyy-MM-dd') + ' ~ ' + dateFormat(new Date(), 'yyyy-MM-dd'),
            range: '~',
            format: 'yyyy-MM-dd',
            done: function(value, date, endDate){
                vm.diy_day=value;
            }
        });
        form.on('select(dateType)', function(data){
             vm.dateType=data.value;
        })

        form.on('select(diyType)', function(data){
             vm.diyType=data.value;
             console.log(vm.diyType)
        })

        axios.all([fnGetSiteList(), fnGetIndexList()])
            .then(axios.spread(function(res1, res2) {
            	if(res1.status==200){
            		vm.index_list=res1.data;
            	}
            	if(res2.status==200){
            		var site_list=res2.data;
            		for (var i = 0; i < site_list.length; i++) {
	        	        if(site_list[i].pid==0){
	        	            vm.list.push(site_list[i]);
	        	        }
	        	    }
	        	    for (var i = 0; i < vm.list.length; i++) {
	        	        var children=[];
	        	        for (var j = 0; j < site_list.length; j++) {
	        	            if(vm.list[i].sid==site_list[j].pid){
	        	                var item=site_list[j];
	        	                if(i==0){
	        	                	item.LAY_CHECKED=true;
	        	                }else{
	        	                	item.LAY_CHECKED=false;
	        	                }
	        	                children.push(item);
	        	            }
	        	        }
	        	        vm.list[i]['children']=children;
	        	    }
            	}
	            vm.$nextTick(function(){
	            	form.render();
	               	fn_getData();
	            });
            })
        );

        function fn_getData(){
            if('准备查询参数'){
                var ids=[];
                for (var i = 0; i < vm.list.length; i++) {
                    var itemI=vm.list[i];
                    for (var j = 0; j < itemI['children'].length; j++) {
                        var itemJ=itemI['children'][j];
                        if(itemJ.LAY_CHECKED){
                            ids.push(itemJ.sid);
                        }
                    }
                }
            }

            var dateType='';
            switch (vm.dateType) {
                case 'hour':
                    vm.startTime=vm.time_hour;
                    vm.endTime=vm.time_hour;
                    dateType='hour';
                    break;
                case 'day':
                    vm.startTime=vm.time_day;
                    vm.endTime=vm.time_day;
                    dateType='day';
                    break;
                case 'month':
                    vm.startTime=vm.time_month;
                    vm.endTime=vm.time_month;
                    dateType='month';
                    break;
                case 'year':
                    vm.startTime=vm.time_year;
                    vm.endTime=vm.time_year;
                    dateType='year';
                    break;
                case 'diy':
                    if(vm.diyType=='hour'){
                        vm.startTime=vm.diy_hour.split(' ~ ')[0];
                        vm.endTime=vm.diy_hour.split(' ~ ')[1];
                        dateType='hour';
                    }
                    if(vm.diyType=='day'){
                        vm.startTime=vm.diy_day.split(' ~ ')[0];
                        vm.endTime=vm.diy_day.split(' ~ ')[1];
                        dateType='day';
                    }
                    break;
            }
            let param = new URLSearchParams()
            param.append('ids', ids.join(','));
            param.append('dateType', dateType);
            param.append('startTime', vm.startTime);
            param.append('endTime', vm.endTime);
            axios({
                method: 'post',
                url: baseUrl + 'dq/statistic/statisticDataTable',
                headers: {
                    'Authorization': 'Bearer ' + $.cookie('login_sid_t_we'),
                },
                data: param
            }).then(function(res) {
                if ( res.data.code == 0 ) {
                    fn_initTable(res.data.data);
                }
            });
        }

        function fnGetSiteList(){
        	return axios({
                method: 'get',
                url: baseUrl + 'dq/point/getIndex',
            });
        }

        function fnGetIndexList(){
        	return axios({
                method: 'get',
                url: baseUrl + 'dq/point/getPointTree',
            });
        }

        /* 渲染表格 */
        function fn_initTable(list){
            $.each(list,function(index,value){
                 if(value.aqi<=50){
                     value.bgcolor='rgb(0,228,0)';
                     value.color='white';
                     value.aqi_quality='优';
                     value.aqi_level='一级';
                 }else if(50<value.aqi&&value.aqi<=100){
                     value.bgcolor='rgb(0,228,0)';
                     value.color='black';
                     value.aqi_quality='良';
                     value.aqi_level='二级';
                 }else if(100<value.aqi&&value.aqi<=150){
                     value.bgcolor='rgb(0,228,0)';
                     value.color='white';
                     value.aqi_quality='轻度';
                     value.aqi_level='三级';
                 }else if(150<value.aqi&&value.aqi<=200){
                     value.bgcolor='rgb(0,228,0)';
                     value.color='white';
                     value.aqi_quality='中度';
                     value.aqi_level='四级';
                 }else if(200<value.aqi&&value.aqi<=300){
                     value.bgcolor='rgb(0,228,0)';
                     value.color='white';
                     result.aqi_quality='重度';
                     result.aqi_level='五级';
                 }else if(300<value.aqi){
                     value.bgcolor='rgb(0,228,0)';
                     value.color='white';
                     result.aqi_quality='严重';
                     result.aqi_level='六级';
                 }
            });

        	insTb = table.render({
        	    elem: '#loginRecordTable',
                data:list,
        	    page: false,
        	    limit:99999,
        	    cellMinWidth: 100,
                height: 'full-100',
        	    cols: [
                    [
                        {type: 'numbers', title: '序号', rowspan: 2, fixed: 'left'},
                        {field: 'name', title: '站点名称', align: 'center', width: 200, sort: true, rowspan: 2, fixed: 'left'},
                        {field: 'time', title: '数据时间', align: 'center', width: 150, sort: true, rowspan: 2},
                        {field: 'aqi', title: 'AQI', align: 'center', sort: true, rowspan: 2},
                        {field: 'aqi_quality', title: '空气质量', align: 'center', width: 120, sort: true, rowspan: 2},
                        {field: 'aqi_level', title: '污染级别', align: 'center', width: 120, sort: true, rowspan: 2},
                        {field: 'pm10', title: 'PM10', align: 'center', sort: true},
                        {field: 'pm25', title: 'PM2.5', align: 'center', sort: true},
                        {field: 'so2', title: 'SO2', align: 'center', sort: true},
                        {field: 'no2', title: 'NO2', align: 'center', sort: true},
                        {field: 'co', title: 'CO', align: 'center', sort: true},
                        {field: 'o3', title: 'O3', align: 'center', sort: true},
                        {field: 'prime', title: '首要污染物', align: 'center', sort: true, rowspan: 2}
                    ]
                ]
        	});
        }

        

        /* 表格搜索 */
        form.on('submit(loginRecordTbSearch)', function (data) {
    		if('准备查询参数'){
    			var ids=[];
    			for (var i = 0; i < vm.list.length; i++) {
    				var itemI=vm.list[i];
    	            for (var j = 0; j < itemI['children'].length; j++) {
    	            	var itemJ=itemI['children'][j];
    	                if(itemJ.LAY_CHECKED){
    	                    ids.push(itemJ.sid);
    	                }
    	            }
    	        }
    		}

            fn_getData();
            return false;
        });

        // iframe形式弹窗传值
        $('#dialogBtn13').click(function () {
            var layIndex = admin.open({
                type: 2,
                title: '站点选择',
                content: 'site_select.html',
                area: ['800px', '90%'],
                fixed: true,
                offset: 'auto',
                data: {
                    list:vm.list,
                    type:'checkbox'
                },
                end: function () {  // 监听弹窗关闭
                    if (admin.getLayerData(layIndex, 'list')) {  // 判断表单操作成功标识
                    	vm.list=admin.getLayerData(layIndex, 'list');
                    }
                }
            });
        });

        /* 导出excel */
        $('#loginRecordExportBtn').click(function () {
            var checkRows = table.checkStatus('loginRecordTable');
            if (checkRows.data.length === 0) {
                layer.msg('请选择要导出的数据', {icon: 2});
            } else {
                tableX.exportDataX({
                    // cols: insTb.config.cols,
                    cols: [[
                        {field: 'name', title: '站点名称'},
                        {field: 'aqi', title: 'AQI'},
                        {field: 'pm10', title: 'PM10(μg/m3)'},
                        {field: 'pm25', title: 'PM2.5(μg/m3)'},
                        {field: 'so2', title: 'SO2(μg/m3)'},
                        {field: 'no2', title: 'NO2(μg/m3)'},
                        {field: 'co', title: 'CO(μg/m3)'},
                        {field: 'o3', title: 'O3(μg/m3)'},
                        {field: 'prime', title: '首要污染物'}
                    ]],
                    data: checkRows.data,
                    fileName: '站点数据统计报表'
                });
            }
        });
    });
</script>