<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="../../common/commonCss.js"></script>
	<title>地下水污染源</title>
	<script type="text/javascript" src="http://api.map.baidu.com/getscript?v=3.0&ak=mE0GRctNh8W2180rEH5g95FXsEwmhhlp"></script>
	<style type="text/css">
		body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
	</style>
</head>
<body>
	<div id="allmap"></div>
</body>

<script type="text/javascript" src="../../common/commonUrl.js"></script>
<script type="text/javascript" src="../../common/commonJs.js"></script>
<script type="text/javascript" src="js/ajaxurl.js"></script>
<script type="text/javascript" src="js/groundWater_map.js"></script>
</html>