<style>
    #userEditForm .layui-form-label{
        width: 123px;
    }
    #userEditForm .layui-input-block{
        margin-left: 153px;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格工具栏 -->
            <form class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input name="wasteName" class="layui-input" placeholder="输入站点名称"/>
                        </div>
                    </div>
                    <div class="layui-inline">&emsp;
                        <button class="layui-btn icon-btn" lay-filter="userTbSearch" lay-submit>
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>
                    </div>
                </div>
            </form>
            <!-- 数据表格 -->
            <table id="userTable" lay-filter="userTable"></table>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="userTbBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!-- 表格状态列 -->
<script type="text/html" id="userTbState">
    <input type="checkbox" lay-filter="userTbStateCk" value="{{d.userId}}" lay-skin="switch"
           lay-text="正常|锁定" {{d.state==0?'checked':''}} style="display: none;"/>
    <p style="display: none;">{{d.state==0?'正常':'锁定'}}</p>
</script>

<!-- 表单弹窗 -->
<script type="text/html" id="userEditDialog">
    <form id="userEditForm" lay-filter="userEditForm" class="layui-form model-form">
        <input name="waterId" type="hidden"/>
        <input name="waterType" value="1" type="hidden"/>
        <div class="layui-row">
            <div class="layui-col-md12">
                <div class="layui-form-item">
                    <label class="layui-form-label">选择位置:</label>
                    <div class="layui-input-block">
                        <button id="dialogBtn9" type="button" lay-tips="打开指定的自定义窗口" lay-direction="2" class="layui-btn layui-btn-sm"><i class="layui-icon"></i>打开地图</button><br>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">站点名称:</label>
                    <div class="layui-input-block">
                        <input name="waterName" placeholder="请输入" class="layui-input"
                               lay-verType="tips" lay-verify="required" required/>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">站点经度:</label>
                    <div class="layui-input-block">
                        <input id="baidu_lng" name="baiduLng" placeholder="请输入" class="layui-input" />
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">站点纬度:</label>
                    <div class="layui-input-block">
                        <input id="baidu_lat" name="baiduLat" placeholder="请输入" class="layui-input" />
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-form-item text-right">
                    <button class="layui-btn" lay-filter="userEditSubmit" lay-submit>保存</button>
                    <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
                </div>
            </div>
        </div>
    </form>
</script>

<script>      
    var selectLocationDialog=null; 
    layui.use(['layer', 'form', 'table', 'util', 'admin', 'xmSelect', 'fileChoose'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;
        var xmSelect = layui.xmSelect;
        var fileChoose = layui.fileChoose;

        console.log(vm.curPage,999)

        form.render();

        // 地图选择位置
        $("body").on("click","#dialogBtn9",function(){
            selectLocationDialog = admin.open({
                type:1,
                title: '选择位置',
                url: '../location.html',
                area: ['800px','90%'],
                offset: '65px',
                skin: 'diy-class',
                success: function (layero, dIndex) {
                    // 弹窗超出范围不出现滚动条
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                }
            });
        });

        /* 渲染表格 */
        var insTb = table.render({
            elem: '#userTable',
            url: baseUrl + "sasw/gwi/getPageList",
            page: true,
            toolbar: ['<p>',
                '<button lay-event="add" class="layui-btn layui-btn-sm icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>&nbsp;',
                '<button lay-event="del" class="layui-btn layui-btn-sm layui-btn-danger icon-btn"><i class="layui-icon">&#xe640;</i>删除</button>',
                '</p>'].join(''),
            cellMinWidth: 100,
            where:{
                vocName:'',
                vocType:'2'
            },
            cols: [[
                {type: 'checkbox'},
                {type: 'numbers'},
                {field: 'water_name', title: '站点名称', sort: true},
                {title: '操作', toolbar: '#userTbBar', align: 'center', minWidth: 120}
            ]]
        });

        /* 表格搜索 */
        form.on('submit(userTbSearch)', function (data) {
            insTb.reload({where: data.field, page: {curr: 1}});
            return false;
        });

        /* 表格工具条点击事件 */
        table.on('tool(userTable)', function (obj) {
            if (obj.event === 'edit') { // 修改
                showEditModel(obj.data);
            } else if (obj.event === 'del') { // 删除
                var ids=obj.data.water_id;
                doDel([ids]);
            } else if (obj.event === 'reset') { // 重置密码
                resetPsw(obj);
            }
        });

        /* 表格头工具栏点击事件 */
        table.on('toolbar(userTable)', function (obj) {
            if (obj.event === 'add') { // 添加
                showEditModel();
            } else if (obj.event === 'del') { // 删除
                var checkRows = table.checkStatus('userTable');
                if (checkRows.data.length === 0) {
                    layer.msg('请选择要删除的数据', {icon: 2});
                    return;
                }
                var ids = checkRows.data.map(function (d) {
                    return d.water_id;
                });
                doDel(ids);
            }
        });

        /* 显示表单弹窗 */
        function showEditModel(mData) {
            console.log(mData,8989)
            admin.open({
                type: 1,
                fixed: true,
                offset: 'auto',
                area: ['745px'],
                title: (mData ? '修改' : '添加') + '站点',
                content: $('#userEditDialog').html(),
                success: function (layero, dIndex) {
                    if(mData){
                        var formData=mData;
                        formData.waterId=mData.water_id;
                        formData.waterName=mData.water_name;
                        formData.baiduLat=mData.baidu_lat;
                        formData.baiduLng=mData.baidu_lng;
                    }
                    // 回显表单数据
                    form.val('userEditForm', formData);
                    // 表单提交事件
                    form.on('submit(userEditSubmit)', function (data) {
                        var loadIndex = layer.load(2);
                        $.ajax({
                          url:mData ? baseUrl + "sasw/gwi/save": baseUrl + "sasw/gwi/save",
                          type:"POST",
                          data:data.field,
                          // contentType:"application/json; charset=utf-8",
                          dataType:"json",
                          success: function(res){
                            // 实际项目这里url可以是mData?'user/update':'user/add'
                            layer.close(loadIndex);
                            if (res.code === 0) {
                                layer.close(dIndex);
                                layer.msg(res.msg, {icon: 1});
                                insTb.reload({page: {curr: 1}});

                                vm.ajax_marker_data();
                            } else {
                                layer.msg(res.msg, {icon: 2});
                            }
                          }
                        })
                        return false;
                    });

                    // 禁止弹窗出现滚动条
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                }
            });
        }

        /* 删除 */
        function doDel(ids) {
            layer.confirm('确定要删除选中数据吗？', {
                skin: 'layui-layer-admin',
                shade: .1
            }, function (i) {
                layer.close(i);
                var loadIndex = layer.load(2);
                $.ajax({        
                  url:baseUrl + "sasw/gwi/del",
                  type:"POST",
                  data:{
                    ids: ids.join(',')
                  },
                  // contentType:"application/json; charset=utf-8",
                  dataType:"json",
                  success: function(res){
                    layer.close(loadIndex);
                    if (res.code === 0) {
                        layer.msg(res.msg, {icon: 1});
                        insTb.reload({page: {curr: 1}});
                        vm.ajax_marker_data();
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                  }
                })
            });
        }
    });
</script>
